<template>
  <div class="color-picker">
    <sketch-picker v-model="colors" @input="updateBackgroundColor" />
  </div>
</template>

<script>
import { Sketch } from 'vue-color'

let colors = '#ffffff';

export default {
  name: 'app',
  components: {
    'sketch-picker': Sketch,
  },
  data () {
    return {
      colors
    }
  },
  methods: {
    updateBackgroundColor (newColor) {
      document.body.style.backgroundColor = `rgba(${newColor.rgba.r}, ${newColor.rgba.g}, ${newColor.rgba.b}, ${newColor.rgba.a})`
    }
  }
}
</script>